* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-section {
  padding: 0 5%;
  background: linear-gradient(#012e40, #026773, #f2e3d5);
  background-size: 100% 100%;
  animation: gradient 25s infinite;

  .first-section {
    padding-top: 52px;
    // height: calc(100vh - 52px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  img {
    align-self: center;
    width: calc(414px - 10vw);
    max-width: 100%;
  }

  h1 {
    font-size: 2.25rem;
    color: #f2e3d5;
  }

  p {
    font-size: 1rem;
    text-align: left;
    color: #f2e3d5;
  }

  .second-section {
    padding-top: 52px;
    // height: calc(100vh - 52px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  // Color Theme Swatches in Hex
  // $Deep-Teal-Sea-1-hex: #012E40;
  // $Deep-Teal-Sea-2-hex: #024959;
  // $Deep-Teal-Sea-3-hex: #026773;
  // $Deep-Teal-Sea-4-hex: #3CA6A6;
  // $Deep-Teal-Sea-5-hex: #F2E3D5;
}
