* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first-section {
  height: calc(100vh - 58px);
  position: relative;
  padding: 0 5%;
  box-sizing: border-box;
  background: linear-gradient(1deg, #026773, #012e40);
  background-size: 400% 400%;

  animation: gradient 25s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }

  h1 {
    font-size: 2.25rem;
    color: #f2e3d5;
  }

  p {
    font-size: 1rem;
    text-align: left;
    color: #f2e3d5;
  }
  img {
    width: calc(414px - 10vw);
    margin-right: 0;
    max-width: 100%;
  }
}

// Color Theme Swatches in Hex
// $Deep-Teal-Sea-1-hex: #012E40;
// $Deep-Teal-Sea-2-hex: #024959;
// $Deep-Teal-Sea-3-hex: #026773;
// $Deep-Teal-Sea-4-hex: #3CA6A6;
// $Deep-Teal-Sea-5-hex: #F2E3D5;
