#head {
  box-sizing: border-box;
  background-color: #012e40;
  padding: 15px 35px 15px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: inset 2px 2px 2px #024959;;

  img {
    width: 15px;
    height: 15px;
    background-color: #026773;
  }

  nav {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    gap: 35px;
    justify-content: flex-end;

    font-size: 1rem;
    color: #f2e3d5;

    a {
      text-decoration: none;
      color: #f2e3d5;

      &:hover {
        color: #3ca6a6;
      }
    }
  }
}

// Color Theme Swatches in Hex
// $Deep-Teal-Sea-1-hex: #012E40;
// $Deep-Teal-Sea-2-hex: #024959;
// $Deep-Teal-Sea-3-hex: #026773;
// $Deep-Teal-Sea-4-hex: #3CA6A6;
// $Deep-Teal-Sea-5-hex: #F2E3D5;
